*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: black;
   padding: 15px;
}
.company-logo{
    color: white;
}
.menu-item{
    display: flex;   
}
.menu-item li{
    list-style:none;
    padding: 10px;
    font-size: 23px;
    font-weight: 700;
}
.menu-item a{
    text-decoration: none;
    color: white;
    padding: 23px;
}
.menu-item a:hover{
    color: bisque;
    background: rgb(115, 117, 115);
    
}
/* banner section  */
.banner-container{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: black;
}
.banner-infor{
    color: white;
    margin-left: 50px;
}
.title1{
    font-size: 60px;
    font-weight:bold;
    margin: 10px;
}
.text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px;
}
.banner-btn{
    margin: 10px;
    padding: 15px 30px;
    background-color: rgb(172, 86, 100);
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 18px;
}
.title2{
    margin-top:80px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
/* card section  */
.card-container{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 75px;
}
.card1{
    
    height: 200px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 2px 5px 10px grey;
    text-align: center; 
    padding: 20px;
    transition: .4s;
    margin-top: 40px;
}
.card1:hover{
    height:200px;
    border: 1px solid rgb(201, 115, 115);
    border-radius: 5px;
    box-shadow: 2px 5px 10px rgb(216, 152, 152);
    text-align: center; 
    padding: 20px;
    margin-top: 0px;
    cursor: pointer;
}
.card-icon{
    width: 50px;
}
/* about us  */
.about-section{
    background-color: rgb(17, 17, 17);
    margin-top: 80px;
}
.about-title1{
    margin-top: 70px;
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: bold;
}
.about-title2{
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-left: 25px;
    
}
.text{
    color: white;
    font-size: 25px;
    font-weight: 500; 
    margin-left: 25px;   
}
.about-container{
    display: flex; 
}
.about-left{
    width: 700px;
    margin-left: 25px;
    margin-right: 20px;
    border-top: 1px solid red;   
}
.about-right{
    width: 700px;
    border-top: 1px solid grey;
}
.about-img{
    display: flex; 
    margin-top: 70px;     
}
.about-img img{  
    padding-left: 80px;
    width: 280px;
    height: 420px;
    transform: skewY(-20deg);
}
.about-list li{
    font-size: 20px;
    font-weight: 500;
    margin-left: 50px;
    color: white;
    list-style:square;
}

.about-btn{
    margin: 10px;
    padding: 15px 30px;
    background-color: rgb(172, 86, 100);
    border-radius: 10px;
    margin-right: 10px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    margin-left: 25px;
}
.about-btn:hover{
    background-color: blue;
}
/* work out section  */
.work-container{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    width: 750px;
    height: 200px;
    background-image:url("../images/shape/Group_33094_1.png");
    background-size:cover;
    background-position: center;  
    background-repeat: no-repeat; 
    border-radius: 15px;
    margin: 0 auto;
    margin-top:80px;
    
    
}
.lets-btn{
    padding: 10px 25px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    margin-left: 25px;
}
.lets-btn:hover{
    background-color: blue;
}